  
 .jumbotron{
    text-align: center;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 10px solid black;
    font-family: Arial, Helvetica, sans-serif;
 }
 .container{
     margin-bottom: 35px;
 }
 .hour{
     border-top: 2px dotted black;
     border-right: 2px dotted black;
     border-bottom: 2px dotted black;
    padding: 5px;
 }
 .prevHours{
     background-color:gray;
     padding: 3px;
     cursor: pointer;
 }
 .curHours{
     background-color: red;
     cursor: pointer;
 }
 .futHours{
    background-color: greenyellow;
    cursor: pointer;
 }
 .saveBtn{
     background-color: rgb(0, 255, 242);
     border-left: 1px solid black;
     border-top-right-radius: 15px ;
     border-bottom-right-radius: 15px;
 }
    .hours{
        white-space: pre-wrap;
    }
    .time-row{
        margin: auto;
        text-align: center;
        border-radius: 15px;
    }
